<%- include('../page-header.ejs') %>

<div class="content">
    <div class="container-fluid">
        <div class="row py-3 align-items-center">
            <div class="col-12 col-md-6">
                <div class="page-title-box">
                    <h4 class="mb-0">Data Departemen</h4>
                    <p class="text-muted mb-0" style="font-size: 0.85rem;">Employee Spending / Master Data / Departemen</p>
                </div>
            </div>
            <div class="col-12 col-md-6 text-md-end mt-3 mt-md-0">
                <button type="button" class="btn btn-primary" style="background-color: #295F99; border-color: #295F99;" data-bs-toggle="modal" data-bs-target="#addDepartmentModal">
                    <i class="mdi mdi-plus me-1"></i> Tambah Departemen
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-centered w-100 dt-responsive nowrap table-hover" id="department-table">
                                <thead align="center" style="background-color: #295F99 !important; color: white !important;">
                                    <tr>
                                        <th style="color: white;">No</th>
                                        <th style="color: white;">ID Departemen</th>
                                        <th style="color: white;">Nama Departemen</th>
                                        <th style="color: white;">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- create modal for adding department -->
  <div class="modal fade" id="addDepartmentModal"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Tambah Departemen</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <form id="add-department-form">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label for="department-name" class="form-label">Nama Departemen</label>
                            <input type="text" class="form-control" id="department-name" name="department_name" placeholder="Masukkan nama departemen" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <button type="submit" form="add-department-form" class="btn btn-primary" style="background-color: #295F99; border-color: #295F99;">Simpan</button>
            </div>
        </div>
    </div>
</div>

<!-- create modal for editing department -->
<div class="modal fade" id="editDepartmentModal" tabindex="-1" role="dialog" aria-labelledby="editDepartmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editDepartmentModalLabel">Edit Departemen</h5>
            </div>
            <div class="modal-body">
                <form id="edit-department-form">
                    <div class="mb-3">
                        <label for="edit-department-name" class="form-label">Nama Departemen</label>
                        <input type="text" class="form-control" id="edit-department-name" name="department_name" placeholder="Masukkan nama departemen" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                <button type="submit" form="edit-department-form" class="btn btn-primary" style="background-color: #295F99; border-color: #295F99;">Simpan</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/script/helper/script-auth.js"></script>
<script type="text/javascript" src="/script/department/script-department.js"></script>
<%- include('../page-footer.ejs') %>