# Server Configuration
APP_PORT=3000
APP_ADDRESS=0.0.0.0

# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASS=your_password_here
DB_NAME=employee_spending
DB_POOL=20
DB_PORT=3306

# JWT Configuration
JWT_SECRET="$2a$10$8JH91ED/iO7OqG2nPCh38Ov51XRArxZZSxd6MB9seyG0Nd5JYEWTm"
JWT_EXPIRED=28800000

# Environment
NODE_ENV=development