<%- include ('page-header.ejs') %>
<script>
    var isi = localStorage.getItem("token");
    if (parseJwt(isi).role != 1) {
        $(location).attr('href', "/error/401");
    }
</script>
    <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5 position-relative">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-4 col-lg-5">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="text-center w-75 m-auto">
                                <h4 class="text-dark-50 text-center mt-0 fw-bold">Change Password</h4>
                                <!-- <p class="text-muted mb-4">Enter your new password.</p> -->
                            </div>

                            <form action="javascript:void(0);" method="post" id="form_change_password">
                                <div class="mb-3">
                                    <label for="password" class="form-label">Old Password</label>
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="old_password" name="old_password" class="form-control" placeholder="Enter your old password">
                                        <div class="input-group-text" data-password="false">
                                            <span class="password-eye"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">New Password</label>
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="new_password" name="new_password" class="form-control" placeholder="Enter your new password">
                                        <div class="input-group-text" data-password="false">
                                            <span class="password-eye"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Confirm New Password</label>
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Enter your confirm new password">
                                        <div class="input-group-text" data-password="false">
                                            <span class="password-eye"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-0 text-center">
                                    <button id="change_password_button" class="btn btn-primary" type="submit" onclick="changePassword()">Submit</button>
                                </div>
                            </form>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include ('page-footer.ejs') %>