<footer class="footer footer-alt">
        © <span class="current-year"></span> PPNI Web. All rights reserved. | Developed by PT KUT.
    </footer>
    <!-- Vendor js -->
    <script src="/assets/js/vendor.min.js"></script>

    <!-- jQuery Mask Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <!-- App js -->
    <script src="/assets/js/app.min.js"></script>
    
    <!-- Sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Internal -->
    <script type="text/javascript" src="/script/script-system.js"></script>
</body>

</html>
